*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;

}

.underline{
  text-decoration: underline;
}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.start{
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color:#1d2322 ;
  height: 100%;
}

/*navbar styling start*/
.navbar{
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  padding: 20px 0px;
  background-color: #1B1B1B;
  color: #bdbdbd;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:0px 0px 10px 10px ;
}
.navbar ul{
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.navbar li{
  transition: ease 0.2s;
}

.navbar li:hover{
  font-size: 18px;
  transition: ease-in 0.2s;
  cursor: pointer;
  text-shadow: 0px 0px 10spx #70e715;
}

.nav-right{
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

/*navbar styling end*/

/*about section start*/
.about{
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  align-items: center;
margin-top: 5em;
justify-content: space-evenly;
}

.about h1{
  color: #FFFFFF;
  font-size: 30px;
}
.about p{
  color: #bdbdbd;
  padding-top: 20px;
  line-height: 1.7em;
  font-size: 15px;
  margin-bottom: 30px;
}

.aleft{
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 80%;
  justify-content: center;
  max-width: 500px;
}
.aleft :nth-child(3){
  margin-top: 40px;}

.first{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 4em;
  padding-bottom: 4em;

}
.first{
  width: 70%;
  background-color: #338520;
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0px 3px 10px #3F8D02;*/
  transition: all 0.3s ease-in-out;
}

.first:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 20px #3F8D02;
  cursor: pointer;
}

.aright{
  width: 40%;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  height: 100%;
}

.img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url(./porshe.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 30px;
}
/*about section end*/

/*education section start*/
.education{
  width: 75%;
  margin: auto;
  margin-top: 5em;
}


.education h2{
  color: #C1C1C1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.edu-cards{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 4em;
  padding-bottom: 4em;

}
.edu-card{
  width: 30%;
  background-color: #1B1B1B;
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0px 3px 10px #3F8D02;*/
  transition: all 0.3s ease-in-out;
}

.edu-card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 20px #3F8D02;
  cursor: pointer;
}

/*skill section start*/
.body-container{
  width: 100%;
  background-color: #ffffff;
  height: 100%;
}
.skills-container{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  text-align: center;
  height: 100%;
  padding:50px 0em 2em 0em;
}

.skills-container h2{
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

.skills-container p{
  color: grey;
  font-size: 16px;
  line-height: 20px;
  font-family:Helvetica, sans-serif;
  font-style: italic;
}

.skill-section{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  width: 100%;
  text-align: left;
}
.ss-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 60%;
  margin-right: 1em;
  margin-left:  1em;;
}

.ss-right{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bed4d7e2;
  padding:10px 10px;
  border-radius: 16px;
  max-width: 300px;
  max-height: 300px;
}

.skill-section.po{
  flex-direction: row-reverse;
  text-align: right;
}

.wd{
  width: 30%;
  min-width: 200px;
  display: block;
  margin-right: auto;
  padding: 10px 5px;
  border: solid rgb(184, 56, 5) 2px;
  background-color: #c9620ef5;
  color: white;
  text-shadow: orange 0px 0px 5px;
  border-radius: 12px;
}
.wd.cs{
  margin-right: 0%;
  margin-left: auto;
  border: solid rgb(236, 17, 17) 2px;
  background-color: #cc541de2;
  color: white;
  text-shadow: rgb(0, 149, 255) 0px 0px 5px;
  border-radius: 12px;
}

/*project section start*/
.projects-container{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color:black;
  height: 100%;
  display: flex;
  flex-direction: column;

}

.project-heading{
  color: white;
  text-align: center;
  padding-top: 50px;
  height: 100%;
  width: 75%;
  display: block ;
  margin-left: auto;
  margin-right: auto;
}

.project-heading h1{
  margin-bottom: 15px;
}
.project-heading p{
  color: grey;
  font-size: 16px;
  line-height: 20px;
  font-family:Helvetica, sans-serif;
  font-style: italic;
  margin-bottom: 30px;
}
.project-subcontainer{
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.project-card{
  background-color: #1B1B1B;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.project-card h3{
  margin-bottom: 15px;
  font-size: larger;
}

.project-card:hover{
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 20px #3F8D02;
  cursor: pointer;
}
/*project section end*/

/*footer section start*/


  